---
title: Статья
outClass:
headerInner: true
---

{% set breadcrumbs = [
    {
        src: '/page.html',
        title: 'Главная'
    },{
        src: '/blog.html',
        title: 'блог '
    },
    {
        title: 'Как разнообразить длительный тату-сеанс'
    }
] %}

{% extends "layouts/_layout.html" %}

{% block content %}

    {% include 'elements/_breadcrumbs.html' %}


    <div class="section section--article">
        <div class="i-content section__inner">
            <article>
                <h1>
                    Как разнообразить длительный тату-сеанс
                </h1>
                <div class="date">
                    25.02.2019
                </div>
                <blockquote>
                    <p>
                        Несколько идей, благодаря которым даже самый длительный сеанс пролетит
                        незаметно, а ваш мастер останется сосредоточен на своей работе.
                    </p>
                </blockquote>
                <p>
                    <img src="img/article/image_1.jpg" alt=""
                         style="display: block; margin-left:auto;margin-right:auto;">
                </p>
                <p>
                    Процесс нанесения татуировки требует много времени и терпения. Если вы пришли на
                    сеанс для того, чтобы сделать масштабную и сложную татуировку, у вас есть
                    несколько вариантов, как разнообразить свое пребывание в салоне.
                </p>
                <p>
                    Обычно процесс нанесения масштабной татуировки разделен на несколько сеансов,
                    чтобы оставить вашей коже достаточно времени для заживления первого слоя
                    татуировки. Время проведения сеанса может быть очень разным — от 1 часа до 10-12
                    часов — и этот процесс может показаться весьма скучным и утомительным, если вы
                    не общаетесь с тату мастером во время сеанса.
                </p>
                <p>
                    Почему бы не использовать это время с пользой и превратить ваш сеанс в отличный
                    шанс расслабиться?
                </p>
                <h2>
                    Несколько способов разнообразить сеанс
                </h2>
                <p>
                    Процесс нанесения татуировки требует много времени и терпения. Если вы пришли на
                    сеанс для того, чтобы сделать масштабную и сложную татуировку, у вас есть
                    несколько вариантов, как разнообразить свое пребывание в салоне.
                </p>
                <ul>
                    <li>
                        Перед началом сеанса проведите серьезную подготовительную работу. В
                        особенности избегайте алкоголя и обязательно выспитесь
                    </li>
                    <li>
                        Если сеанс будет долгим, подготовьте пакетики с закусками, содержащими,
                        например,
                        некоторое количество белка, орехов и сахара, чтобы вы были бдительны и не
                        чувствовали слабости
                        во время сеанса
                    </li>
                    <li>
                        Пейте много воды, чтобы избежать обезвоживания
                    </li>
                    <li>
                        Обновите свой плейлист хорошей музыкой
                    </li>
                    <li>
                        Пообщайтесь с мастером, пока он / она не против. Некоторым мастерам сложно
                        разговаривать и работать одновременно
                    </li>
                </ul>

                <div class="sliderBox">
                    <div class="sliderBox__main">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for item in range(0,4) %}
                                    <div class="swiper-slide">
                                        <img src="img/article/slider_image.jpg" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="sliderBox__thumbs">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for item in range(0,4) %}
                                    <div class="swiper-slide">
                                        <img src="img/article/slider_image_xs.png" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-button swiper-button-prev"></div>
                        <div class="swiper-button swiper-button-next"></div>
                    </div>
                </div>

                <h2>
                    Сколько заживает татуировка?
                </h2>
                <p>
                    С момента посещения тату-салона и до полного исцеления обычно проходит около 2-3
                    недель. Процесс регенерации займёт время от нанесения татуировки до момента,
                    когда кожа будет полностью восстановлена. Еще один факт, который стоит учесть:
                    теперь кожа заполнена тысячами мелких пигментов!
                </p>
                <ul>
                    <li>
                        <p>
                            <b>Стадия первая (1-6 дни)</b>
                        </p>
                        <p>
                            Отёк и покраснение, которые постепенно уменьшаются каждый день. В это
                            время начинает образовываться корочка.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Второй этап (7-14 дни)</b>
                        </p>
                        <p>
                            Начинается зуд и шелушение. Это продолжается до тех пор, пока не отойдут
                            слои мертвой кожи и струпьев.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Третий этап (дни 15-30)</b>
                        </p>
                        <p>
                            Татуировка выглядит полностью заживленной, но может выглядеть немного не
                            четко в течение нескольких недель. Более глубокие слои кожи по-прежнему
                            регенерируют, поэтому продолжайте следить и ухаживать за своей
                            татуировкой.
                        </p>
                    </li>
                </ul>

                <p>
                    <img src="img/article/image_2.jpg" alt=""
                         style="display: block; margin-left:auto;margin-right:auto;">
                </p>

                <p>
                    Для того, чтобы заживление татуировки прошло как можно эффективнее, мастера
                    рекомендуют новейшую пленку <a href="#">Suprasorb F.</a> Пользоваться ей
                    максимально удобно!
                </p>
                <p>
                    <a href="#" class="btn btn--primary btn--lg">
                        перейти к товару
                    </a>
                </p>
                <p>
                    Помните, что следуя инструкциям по уходу за татуировкой, вы должны следить за
                    тем, чтобы ваш процесс лечения проходил гладко. Держите свою татуировку чистой,
                    увлажненной при необходимости, и относитесь к ней с осторожностью. Если вас
                    что-то настораживает, лучше обратитесь к врачам, а не к тату-мастеру, поскольку
                    он не сертифицирован для диагностики подобных проблем.
                </p>

            </article>

            <div class="shareBox">
                {% for item in ['vk2', 'fb', 'tw'] %}
                    <a href="#" class="shareBox__item">
                        <div class="shareBox__icon">
                            {{ mixins.icon(item) }}
                        </div>
                        <div class="shareBox__title">
                            Поделиться
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'blocks/_subscribe.html' %}

{% endblock %}


