---
title: Поиск
outClass:
headerClass:
---
{% set breadcrumbs = [
    {
        src: '/page.html',
        title: 'Главная'
    },{
        src: '/page.html',
        title: 'Каталог'
    },
    {
        title: 'Результаты поиска'
    }
] %}
{% extends "layouts/_layout.html" %}

{% block content %}


    <div class="section section--search section--paddingTopDefault">
       <div class="containerMd section__inner">
           {% include "elements/_breadcrumbs.html" %}

           <div class="completed">
               <div class="completed__inner">
                   <div class="completed__icon">
                       <img src="img/searchnofound.svg" alt="">
                   </div>
                   <div class="completed__title page__title">
                       По вашему запросу
                       ничего не найдено
                   </div>
                   <div class="completed__subtitle">
                       Попробуйте изменить формулировку или воспользуйтесь
                       нашим каталогом
                   </div>

                   <div class="completed__bottom">
                       <a href="#" class="btn btn--primary btn--lg">
                           <span>Перейти в каталог</span>
                       </a>
                   </div>
               </div>
           </div>

       </div>
    </div>


{% endblock %}
