---
title: Доставка
outClass:
headerInner: true
---
{% set breadcrumbs = [
    {
        src: '/page.html',
        title: 'Главная'
    },
    {
        title: ''
    }
] %}
{% extends "layouts/_layout.html" %}

{% block content %}

    <div class="section section--staticBlock section--paddingTopDefault">
        <div class="container section__inner">
            <div class="staticBlock">
                <div class="page__title">
                    <h1>{{ title }}</h1>
                </div>
                <article>
                    <h3>
                        Курьерская доставка по г. Москве
                    </h3>
                    <p>Мы осуществляем доставку по Москве и Московской области ежедневно с 10:00 до
                        22:00.</p>
                    <p>Стоимость доставки по городу 300 рублей.</p>
                    <p>Чтобы заказать товар с доставкой по городу, оформите заказ через корзину
                        сайта и укажите способ доставки – доставка курьером. Мы с вами свяжемся для
                        уточнения всех деталей по товару и доставке.</p>
                    <p>Доставка товара осуществляется в течение 1-2-х дней, не считая день
                        оформления заказа. Сотрудник курьерской службы доставит ваш заказ в удобное
                        для вас время и место.</p>
                    <p>При получении заказа вы оплачиваете стоимость товара с учетом доставки.</p>
                    <h3>Самовывоз</h3>
                    <p> Вы можете самостоятельно забрать свой заказ в нашем магазине.
                        Мы находимся по адресу: г. Москва, Проспект Мира 68c1, оф. 614.</p>
                    <p>Работаем каждый день с 10:00 до 20:00.</p>
                    <h3>
                        Доставка по России
                    </h3>
                    <p>Мы так же отправляем заказы в любой город России. Доставка осуществляется
                        транспортной компанией СДЭК или Почтой России.</p>

                    <p>После обработки заказа мы свяжемся с вами для его подтверждения и уточнения
                        способа доставки.</p>

                    <p>Мы отправляем товар по 100% предоплате или наложенным платежом (при сумме
                        заказа от 1000 р). Информируем вас, что в некоторых случаях доставка посылки
                        наложенным платежом может стоить несколько дороже обычной доставки (в
                        соответствии с тарифами, установленными Почтой России).</p>

                    <p>Сроки и стоимость доставки зависят от вашего города, размера и веса
                        посылки.</p>

                    <p>Подробнее о способах доставки и оплаты можно узнать по бесплатному номеру
                        нашего магазина - <a href="tel:+7 800 707-16-40">+7 800 707-16-40</a></p>
                </article>
            </div>
        </div>
    </div>

{% endblock %}
