<div class="section section--location">
    <div class="section__inner">
        <div class="locationBar">
            <div class="locationBar__left">
                <div class="locationBar__title">
                    Наш магазин в&nbsp;Москве
                </div>
            </div>
            <div class="locationBar__center">
                <div class="locationBar__address">Проспект Мира, 19с1, офис 38</div>
                <ul class="locationBar__info">
                    <li>
                        <a href="tel:8 800 707-16-40">
                            8 800 707-16-40
                        </a>
                        <a href="mailto:tattoopromsk@gmail.com">tattoopromsk@gmail.com</a>
                    </li>
                    <li>
                        <p>
                            с 10:00 до 20:00
                        </p>
                        <p>
                            Без выходных
                        </p>
                    </li>
                </ul>
            </div>
            <div class="locationBar__right">
                <div class="metroBox">
                    <div class="metroBox__image">
                        <img src="img/metro_image.png" alt="">
                    </div>
                    <div class="metroBox__body">
                        <p>
                            3 минуты пешком
                        </p>
                        <p>
                            от кольцевой станции метро
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="locationMap" id="map"></div>
    </div>
</div>
