<div class="section section--subscribe">
    <div class="section__inner">
        <div class="subscribe">
            <div class="subscribe__title"> <span>скидки новости статьи</span> </div>
            <div class="subscribe__body">
                <form action="/" class="form form--subscribe">
                    <div class="form__title">подписка на рассылку</div>
                    <div class="form__area">
                        <input type="text" name="input" placeholder="электронная почта"/>
                        <button class="btn btn--arrow" type="submit">
                            {{ mixins.icon('arrow_right') }}
                        </button>
                    </div>
                </form>
            </div>
            <div class="subscribe__title"><span>скидки новости статьи</span></div>
        </div>
    </div>
</div>
